<div class="layout-content">
  <div class="p-grid p-jc-center p-mt-4">
    <div class="p-col-12 p-md-8 p-lg-5">
      <div class="box p-shadow-2">
        <p-card header="Sign Up & BID">
          <div class="p-fluid p-mt-4">
            <div class="p-d-flex p-jc-center p-mt-5">
              <div class="p-col-10">
                <div class="p-fluid p-grid p-mt-3">
                  <div class="p-field p-col">
                    <span class="p-float-label">
                      <input id="firstname" type="text" pInputText [(ngModel)]="userRegistration.firstName">
                      <label for="firstname">Firstname</label>
                    </span>
                  </div>
                  <div class="p-field p-col">
                    <span class="p-float-label">
                      <input id="lastname" type="text" pInputText [(ngModel)]="userRegistration.lastName">
                      <label for="lastname">Lastname</label>
                    </span>
                  </div>
                </div>
                <div class="p-fluid p-grid p-mt-3">
                  <div class="p-field p-col">
                    <span class="p-float-label">
                      <input id="email" type="email" pInputText email [(ngModel)]="userRegistration.email">
                      <label for="email">Email</label>
                    </span>
                  </div>
                </div>

                <div class="p-fluid p-grid p-mt-3">
                  <div class="p-field p-col">
                    <span class="p-float-label">
                      <input id="password" type="password" pPassword [(ngModel)]="userRegistration.password">
                      <label for="password">Password</label>
                    </span>
                  </div>
                  <div class="p-field p-col">
                    <span class="p-float-label">
                      <input id="confirmpassword" type="password" pPassword
                        [(ngModel)]="userRegistration.confirmPassword">
                      <label for="confirmpassword">Confirm Password</label>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-d-flex p-jc-center p-mt-5">
              <h6 class="register-h6">Already registered ? <a class="sign-in-a" [routerLink]=""
                  (click)="login()"><span>Sign
                    In</span></a>
              </h6>
            </div>
            <div class="p-d-flex p-jc-center p-mt-4">
              <h6 class="p-col-8 register-h6">By clicking "Register", I agree to the <span class="sign-in-a">Terms and
                  Conditions</span> & <span class="sign-in-a">Privacy Policy</span>
              </h6>
            </div>
            <div class="p-d-flex p-jc-center p-mt-3">
              <button pButton pRipple type="button" label="Register" class="dark-blue-button"
                (click)="onRegister()"></button>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
