.layout-content {
  left: 0px !important;
  width: 100% !important;
  //background-image: url('../../assets/images/landing/3819.jpg');
  background-size: cover;
  height: auto;
}

::ng-deep .p-card-title,
::ng-deep .p-card-subtitle {
  text-align: center !important;
}

.sign-in-a {
  padding-bottom: 1px;
  border-bottom: 1px solid;

  &:hover {
    border-bottom: 2px solid;
  }
}


::ng-deep .p-steps .p-steps-item {
  &:first-child {
    &::before {
      display: none;
    }
  }

  &:nth-child(2) {
    &::before {
      border-top: 5px solid #dee2e6;
      width: 160%;
      top: 50%;
      left: unset;
    }
  }

  &:last-child {
    &::before {
      display: none;
    }
  }
}

.register-h6 {
  text-align: center;
  line-height: 1.75rem;
  font-weight: normal;
}

::ng-deep .pin-input {
  .p-inputmask{
height: 50px !important;
font-size: xx-large !important;
text-align: center !important;
   }
  }
