<div class="p-d-flex">
  <div class="product-item">
    <p-galleria #galleria [(value)]="viewitem.itemImages" [(activeIndex)]="activeIndex" [numVisible]="5"
      [containerStyle]="{'max-width':'640px'}" [containerClass]="galleriaClass()" [showThumbnails]="showThumbnails"
      [showItemNavigators]="true" [showItemNavigatorsOnHover]="true" [circular]="true" [autoPlay]="true"
      [transitionInterval]="3000">
      <ng-template pTemplate="item" let-item>
        <img [src]="'assets/images/demo/product/'+item.url"
          [ngStyle]="{'width': !fullscreen ? '100%' : '', 'display': !fullscreen ? 'block' : ''}" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
          <img [src]="'assets/images/demo/product/'+item.url" />
        </div>
      </ng-template>
      <ng-template pTemplate="footer" let-item>
        <div class="custom-galleria-footer">
          <button type="button" pButton icon="pi pi-list" (click)="onThumbnailButtonClick()"></button>
          <span *ngIf="viewitem.itemImages" class="title-container">
            <span>{{activeIndex + 1}}/{{viewitem.itemImages.length}}</span>
            <span class="title">Image {{activeIndex+1}}</span>
            <span>Image {{activeIndex+1}}</span>
          </span>
          <button type="button" pButton [icon]="fullScreenIcon()" (click)="toggleFullScreen()"
            class="fullscreen-button"></button>
        </div>
      </ng-template>
    </p-galleria>
  </div>
  <div class="product-item">
    <div class="product-list-detail">
      <h5 class="p-mb-2">{{viewitem?.title}}</h5>
      <i class="pi pi-tag product-category-icon"></i>
      <span class="product-category">Product Category</span>
    </div>

    <div class="product-list-action p-mr-3">
      <span [class]="'p-mb-2 product-badge started-bid'">Started Bid <strong
          class="started-bid-amount">${{viewitem?.startingBid}}</strong></span>
    </div>

    <div class="product-list-action p-mr-3">
      <span [class]="'p-mb-2 product-badge highest-bid'">Highest Bid <strong
          class="highest-bid-amount">${{viewitem?.highestBid}}</strong>
      </span>
    </div>
  </div>
</div>
