:host ::ng-deep .custom-galleria { &.p-galleria { &.fullscreen { display: flex; flex-direction: column; .p-galleria-content { flex-grow: 1; justify-content: center; } } .p-galleria-content { position: relative; } .p-galleria-thumbnail-wrapper { position: absolute; bottom: 0; left: 0; width: 100%; } .p-galleria-thumbnail-items-container { width: 100%; } .custom-galleria-footer { display: flex; align-items: center; background-color: rgba(0, 0, 0, .9); color: #ffffff; > button { background-color: transparent; color: #ffffff; border: 0 none; border-radius: 0; margin: .2rem 0; &.fullscreen-button { margin-left: auto; } &:hover { background-color: rgba(255, 255, 255, 0.1); } } } .title-container { > span { font-size: .9rem; padding-left: .829rem; &.title { font-weight: bold; } } } } }



.product-item {
	display: block;
	align-items: center;
	padding: 1rem;
    width: 50%;
    flex-wrap: nowrap;

	// img {
	// 	width: 150px;
  //       box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  //       margin-right: 1rem;
	// }

	.product-list-detail {
		flex: 1 1 0;
	}

	.product-list-action {
		display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }

    .product-category {
        vertical-align: middle;
        line-height: 1;
    }

    &.loading-item {
        .image-container {
            width: 100px;
            height: 66px;
            animation: pulse 1s infinite ease-in-out;
            margin-right: 1rem;
        }

        .product-list-detail {
            h5, .product-category {
                width: 150px;
                height: 14px;
                display: block;
                animation: pulse 1s infinite ease-in-out;
            }
        }

        .product-list-action {
            .product-badge {
                display: block;
                width: 100px;
                height: 14px;
                animation: pulse 1s infinite ease-in-out;
            }

            h6 {
                width: 25px;
                height: 14px;
                animation: pulse 1s infinite ease-in-out;
            }
            .p-skelton-button {
              animation: pulse 1s infinite ease-in-out;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .product-item {
        h5 {
            font-size: 1rem;
        }

        img {
            width: 100px;
        }

        .product-category-icon,
        .product-category {
            display: none;
        }
    }
    .product-badge.started-bid {
      display: none !important;
    }
}

.product-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.product-badge.status-active {
  background: #c8e6c9;
  color: #256029;
}

.product-badge.highest-bid {
  height: 100px;
  min-width: 150px;
  text-align: center;
  background: #ffcdd2;
  color: #c63737;
  .highest-bid-amount {
    font-size: xxx-large;
    display: block;
  }
}

.product-badge.started-bid {
  height: 100px;
  text-align: center;
  background: #fff;
  color: #256029;
  .started-bid-amount {
    font-size: x-large;
    display: block;
  }
}

.p-button{
  padding: 0.5rem !important;
}
