<div class="circle">
    <img class="profile-pic" [src]="croppedImage">
    <i class="pi pi-camera upload-button" (click)="uploader.click();"></i>
    <input #uploader class="file-upload" type="file" (change)="fileChangeEvent($event)" accept="image/*"
        (click)="uploader.value = null" value="" />
</div>
<p-dialog [header]="'Update Profile Picture'" [(visible)]="showImageCropperPopup" [modal]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [style]="{'min-width': '300px',width: '400px'}">

    <p-progressBar [style.display]="showImageCropper ? 'none': null" mode="indeterminate"></p-progressBar>

    <image-cropper [style.display]="showImageCropper ? null : 'none'" [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true" [cropperMinWidth]="300" [cropperMinHeight]="300" (imageLoaded)="imageLoaded()">
    </image-cropper>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Crop" icon="pi pi-check"
            class="p-mr-2 p-mb-2 dark-blue-no-fill-button" (click)="closeImageCropper()"></button>
    </ng-template>
</p-dialog>