.profile-pic {
  display: block;
}

.circle {
  border-radius: 5px !important;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 8px solid #f2f2f2;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.p-image {
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
  font-size: 1.5em;
  position: relative;
  top: -25px;
  right: -155px;
  border: 5px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

.file-upload {
  display: none;
}

.p-card .p-card-body {
  padding: 0.5rem !important;
}