<div class="card">

  <h5>Main Buttons</h5>
  <button pButton pRipple type="submit" label="Save" icon="pi pi-save" class="p-mr-2 p-mb-2 dark-blue-button"></button>
  <button pButton pRipple type="button" label="Delete" icon="pi pi-trash" class="p-mr-2 p-mb-2 red-button"></button>
  <button pButton pRipple type="button" label="Book" icon="pi pi-bookmark" class="p-mr-2 p-mb-2 red-button"></button>
  <button pButton pRipple type="button" label="Channel" icon="pi pi-briefcase"
    class="p-mr-2 p-mb-2 red-button"></button>
  <button pButton pRipple type="button" label="View" icon="pi pi-eye" class="p-mr-2 p-mb-2 light-blue-button"></button>
  <button pButton pRipple type="button" label="Edit" icon="pi pi-pencil"
    class="p-mr-2 p-mb-2 light-grey-button"></button>
  <button pButton pRipple type="button" label="Cancel" icon="pi pi-undo"
    class="p-mr-2 p-mb-2 light-brown-no-fill-button"></button>
  <button pButton pRipple type="button" label="Reset" icon="pi pi-refresh"
    class="p-mr-2 p-mb-2 light-brown-no-fill-button"></button>
  <button pButton pRipple type="button" label="Add" icon="pi pi-plus"
    class="p-mr-2 p-mb-2 dark-blue-no-fill-button"></button>
  <button pButton pRipple type="button" label="Approve" icon="pi pi-check"
    class="p-mr-2 p-mb-2 dark-blue-no-fill-button"></button>
  <button pButton pRipple type="button" label="Reject" icon="pi pi-times"
    class="p-mr-2 p-mb-2 red-no-fill-button"></button>
  <button pButton pRipple type="button" label="Remove" icon="pi pi-trash"
    class="p-mr-2 p-mb-2 red-no-fill-button"></button>
  <button pButton pRipple type="button" label="Back" icon="pi pi-arrow-left"
    class="p-mr-2 p-mb-2 dark-blue-no-fill-button"></button>
  <button pButton pRipple type="button" label="Next" icon="pi pi-arrow-right" iconPos="right"
    class="p-mr-2 p-mb-2 dark-blue-no-fill-button"></button>
  <button pButton pRipple type="button" label="Upload" icon="pi pi-upload"
    class="p-mr-2 p-mb-2 dark-blue-no-fill-button"></button>
  <button pButton pRipple type="button" label="Done" icon="pi pi-check-square"
    class="p-mr-2 p-mb-2 dark-blue-no-fill-button"></button>
  <button pButton pRipple type="button" label="Open" icon="pi pi-external-link"
    class="p-mr-2 p-mb-2 dark-blue-no-fill-button"></button>
  <button pButton pRipple type="button" label="Continue" icon="pi pi-arrow-circle-right" iconPos="right"
    class="p-mr-2 p-mb-2 dark-blue-no-fill-button"></button>
  <button pButton pRipple type="button" label="Search" icon="pi pi-search"
    class="p-mr-2 p-mb-2 dark-blue-no-fill-button"></button>


  <h5>Table Action Icons</h5>
  <button pButton pRipple type="button" pTooltip="View" tooltipPosition="top" icon="pi pi-eye"
    class="p-mr-2 p-mb-2 p-button-text dark-blue-action-icon-button" tooltipStyleClass="action-tooltip-blue"></button>

  <button pButton pRipple type="button" pTooltip="Edit" tooltipPosition="top" icon="pi pi-pencil"
    class="p-mr-2 p-mb-2 p-button-text dark-blue-action-icon-button" tooltipStyleClass="action-tooltip-blue"></button>

  <button pButton pRipple type="button" pTooltip="Approve" tooltipPosition="top" icon="pi pi-check"
    class="p-mr-2 p-mb-2 p-button-text dark-blue-action-icon-button" tooltipStyleClass="action-tooltip-blue"></button>

  <button pButton pRipple type="button" pTooltip="Remove" tooltipPosition="top" icon="pi pi-trash"
    class="p-mr-2 p-mb-2 p-button-text red-action-icon-button" tooltipStyleClass="action-tooltip-red"></button>

  <button pButton pRipple type="button" pTooltip="Reject" tooltipPosition="top" icon="pi pi-times"
    class="p-mr-2 p-mb-2 p-button-text red-action-icon-button" tooltipStyleClass="action-tooltip-red"></button>

    <button pButton pRipple type="button" pTooltip="Lock" tooltipPosition="top" icon="pi pi-lock"
    class="p-mr-2 p-mb-2 p-button-text red-action-icon-button" tooltipStyleClass="action-tooltip-red"></button>

    <button pButton pRipple type="button" pTooltip="Unlock" tooltipPosition="top" icon="pi pi-lock-open"
    class="p-mr-2 p-mb-2 p-button-text dark-blue-action-icon-button" tooltipStyleClass="action-tooltip-blue"></button>

    <button pButton pRipple type="button" pTooltip="Open" tooltipPosition="top" icon="pi pi-external-link"
    class="p-mr-2 p-mb-2 p-button-text dark-blue-action-icon-button" tooltipStyleClass="action-tooltip-blue"></button>

    <button pButton pRipple type="button" pTooltip="Upload" tooltipPosition="top" icon="pi pi-upload"
    class="p-mr-2 p-mb-2 p-button-text dark-blue-action-icon-button" tooltipStyleClass="action-tooltip-blue"></button>

    <button pButton pRipple type="button" pTooltip="Download" tooltipPosition="top" icon="pi pi-download"
    class="p-mr-2 p-mb-2 p-button-text dark-blue-action-icon-button" tooltipStyleClass="action-tooltip-blue"></button>

  <!-- <h5>Icons</h5>
  <p-button class="p-mr-2 p-mb-2" icon="pi pi-check"></p-button>
  <p-button class="p-mr-2 p-mb-2" label="Submit" icon="pi pi-check"></p-button>
  <p-button class="p-mr-2 p-mb-2" label="Submit" icon="pi pi-check" iconPos="right"></p-button>

  <h5>Severities</h5>
  <button pButton pRipple type="button" label="Primary" class="p-mr-2 p-mb-2"></button>
  <button pButton pRipple type="button" label="Secondary" class="p-mr-2 p-mb-2 p-button-secondary"></button>
  <button pButton pRipple type="button" label="Success" class="p-mr-2 p-mb-2 p-button-success"></button>
  <button pButton pRipple type="button" label="Info" class="p-mr-2 p-mb-2 p-button-info"></button>
  <button pButton pRipple type="button" label="Warning" class="p-mr-2 p-mb-2 p-button-warning"></button>
  <button pButton pRipple type="button" label="Help" class="p-mr-2 p-mb-2 p-button-help"></button>
  <button pButton pRipple type="button" label="Danger" class="p-mr-2 p-mb-2 p-button-danger"></button>

  <h5>Raised Buttons</h5>
  <button pButton pRipple type="button" label="Primary" class="p-mr-2 p-mb-2 p-button-raised"></button>
  <button pButton pRipple type="button" label="Secondary"
    class="p-mr-2 p-mb-2 p-button-raised p-button-secondary"></button>
  <button pButton pRipple type="button" label="Success" class="p-mr-2 p-mb-2 p-button-raised p-button-success"></button>
  <button pButton pRipple type="button" label="Info" class="p-mr-2 p-mb-2 p-button-raised p-button-info"></button>
  <button pButton pRipple type="button" label="Warning" class="p-mr-2 p-mb-2 p-button-raised p-button-warning"></button>
  <button pButton pRipple type="button" label="Help" class="p-mr-2 p-mb-2 p-button-raised p-button-help"></button>
  <button pButton pRipple type="button" label="Danger" class="p-mr-2 p-mb-2 p-button-raised p-button-danger"></button>

  <h5>Rounded Buttons</h5>
  <button pButton pRipple type="button" label="Primary" class="p-mr-2 p-mb-2 p-button-rounded"></button>
  <button pButton pRipple type="button" label="Secondary"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-secondary"></button>
  <button pButton pRipple type="button" label="Success"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-success"></button>
  <button pButton pRipple type="button" label="Info" class="p-mr-2 p-mb-2 p-button-rounded p-button-info"></button>
  <button pButton pRipple type="button" label="Warning"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-warning"></button>
  <button pButton pRipple type="button" label="Help" class="p-mr-2 p-mb-2 p-button-rounded p-button-help"></button>
  <button pButton pRipple type="button" label="Danger" class="p-mr-2 p-mb-2 p-button-rounded p-button-danger"></button>

  <h5>Text Buttons</h5>
  <button pButton pRipple type="button" label="Primary" class="p-mr-2 p-mb-2 p-button-text"></button>
  <button pButton pRipple type="button" label="Secondary"
    class="p-mr-2 p-mb-2 p-button-secondary p-button-text"></button>
  <button pButton pRipple type="button" label="Success" class="p-mr-2 p-mb-2 p-button-success p-button-text"></button>
  <button pButton pRipple type="button" label="Info" class="p-mr-2 p-mb-2 p-button-info p-button-text"></button>
  <button pButton pRipple type="button" label="Warning" class="p-mr-2 p-mb-2 p-button-warning p-button-text"></button>
  <button pButton pRipple type="button" label="Help" class="p-mr-2 p-mb-2 p-button-help p-button-text"></button>
  <button pButton pRipple type="button" label="Danger" class="p-mr-2 p-mb-2 p-button-danger p-button-text"></button>
  <button pButton pRipple type="button" label="Plain" class="p-mr-2 p-mb-2 p-button-text p-button-plain"></button>

  <h5>Raised Text Buttons</h5>
  <button pButton pRipple type="button" label="Primary" class="p-mr-2 p-mb-2 p-button-raised p-button-text"></button>
  <button pButton pRipple type="button" label="Secondary"
    class="p-mr-2 p-mb-2 p-button-raised p-button-secondary p-button-text"></button>
  <button pButton pRipple type="button" label="Success"
    class="p-mr-2 p-mb-2 p-button-raised p-button-success p-button-text"></button>
  <button pButton pRipple type="button" label="Info"
    class="p-mr-2 p-mb-2 p-button-raised p-button-info p-button-text"></button>
  <button pButton pRipple type="button" label="Warning"
    class="p-mr-2 p-mb-2 p-button-raised p-button-warning p-button-text"></button>
  <button pButton pRipple type="button" label="Help"
    class="p-mr-2 p-mb-2 p-button-raised p-button-help p-button-text"></button>
  <button pButton pRipple type="button" label="Danger"
    class="p-mr-2 p-mb-2 p-button-raised p-button-danger p-button-text"></button>
  <button pButton pRipple type="button" label="Plain"
    class="p-mr-2 p-mb-2 p-button-raised p-button-text p-button-plain"></button>

  <h5>Outlined Buttons</h5>
  <button pButton pRipple type="button" label="Primary" class="p-mr-2 p-mb-2 p-button-outlined"></button>
  <button pButton pRipple type="button" label="Secondary"
    class="p-mr-2 p-mb-2 p-button-outlined p-button-secondary"></button>
  <button pButton pRipple type="button" label="Success"
    class="p-mr-2 p-mb-2 p-button-outlined p-button-success"></button>
  <button pButton pRipple type="button" label="Info" class="p-mr-2 p-mb-2 p-button-outlined p-button-info"></button>
  <button pButton pRipple type="button" label="Warning"
    class="p-mr-2 p-mb-2 p-button-outlined p-button-warning"></button>
  <button pButton pRipple type="button" label="Help" class="p-mr-2 p-mb-2 p-button-outlined p-button-help"></button>
  <button pButton pRipple type="button" label="Danger" class="p-mr-2 p-mb-2 p-button-outlined p-button-danger"></button>

  <h5>Rounded Icon Buttons</h5>
  <button pButton pRipple type="button" icon="pi pi-check" class="p-mr-2 p-mb-2 p-button-rounded"></button>
  <button pButton pRipple type="button" icon="pi pi-bookmark"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-secondary"></button>
  <button pButton pRipple type="button" icon="pi pi-search"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-success"></button>
  <button pButton pRipple type="button" icon="pi pi-user" class="p-mr-2 p-mb-2 p-button-rounded p-button-info"></button>
  <button pButton pRipple type="button" icon="pi pi-bell"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-warning"></button>
  <button pButton pRipple type="button" icon="pi pi-heart"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-help"></button>
  <button pButton pRipple type="button" icon="pi pi-times"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-danger"></button>

  <h5>Rounded Text Icon Buttons</h5>
  <button pButton pRipple type="button" icon="pi pi-check"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-text"></button>
  <button pButton pRipple type="button" icon="pi pi-bookmark"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-secondary p-button-text"></button>
  <button pButton pRipple type="button" icon="pi pi-search"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-success p-button-text"></button>
  <button pButton pRipple type="button" icon="pi pi-user"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-info p-button-text"></button>
  <button pButton pRipple type="button" icon="pi pi-bell"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-warning p-button-text"></button>
  <button pButton pRipple type="button" icon="pi pi-heart"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-help p-button-text"></button>
  <button pButton pRipple type="button" icon="pi pi-times"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-danger p-button-text"></button>
  <button pButton pRipple type="button" icon="pi pi-filter"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-text p-button-plain"></button>

  <h5>Rounded and Outlined Icon Buttons</h5>
  <button pButton pRipple type="button" icon="pi pi-check"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-outlined"></button>
  <button pButton pRipple type="button" icon="pi pi-bookmark"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-secondary p-button-outlined"></button>
  <button pButton pRipple type="button" icon="pi pi-search"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-success p-button-outlined"></button>
  <button pButton pRipple type="button" icon="pi pi-user"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-info p-button-outlined"></button>
  <button pButton pRipple type="button" icon="pi pi-bell"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-warning p-button-outlined"></button>
  <button pButton pRipple type="button" icon="pi pi-heart"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-help p-button-outlined"></button>
  <button pButton pRipple type="button" icon="pi pi-times"
    class="p-mr-2 p-mb-2 p-button-rounded p-button-danger p-button-outlined"></button>

  <h5>Badges</h5>
  <p-button class="p-mr-2 p-mb-2" label="Emails" badge="8"></p-button>
  <p-button class="p-mr-2 p-mb-2" label="Messages" icon="pi pi-users" styleClass="p-button-warning" badge="8"
    badgeClass="p-badge-danger">
  </p-button>

  <h5>Button Set</h5>
  <span class="p-buttonset">
    <button class="p-mr-2 p-mb-2" pButton pRipple label="Save" icon="pi pi-check"></button>
    <button class="p-mr-2 p-mb-2" pButton pRipple label="Delete" icon="pi pi-trash"></button>
    <button class="p-mr-2 p-mb-2" pButton pRipple label="Cancel" icon="pi pi-times"></button>
  </span>

  <h5>Sizes</h5>
  <div class="sizes">
    <p-button class="p-mr-2 p-mb-2" label="Small" icon="pi pi-check" styleClass="p-button-sm"></p-button>
    <p-button class="p-mr-2 p-mb-2" label="Normal" icon="pi pi-check" styleClass="p-button"></p-button>
    <p-button class="p-mr-2 p-mb-2" label="Large" icon="pi pi-check" styleClass="p-button-lg"></p-button>
  </div>

  <p-button class="p-mr-2 p-mb-2" label="Link" styleClass="p-button-link"></p-button> -->

</div>
