.timer {
  text-align: center;
  font-size: 1em;
  letter-spacing: -1px;
  height: 100px;
  text-transform: uppercase;
}
.timer span {
  margin: 0 3px 0 15px;
  font-size: xx-large;
}


@media screen and (max-width: 960px) {
  .timer {
    display: none !important;
  }
}
