<div [ngStyle]="{'color':daysToday===0 ? '#c63737' : '' }" class="timer">
  <span> Time left : </span>
  <div style="display: inline;" *ngIf="daysToday>0"> <span id="days"> {{daysToday}} </span>Day(s)
  </div>
  <span id="hours"> {{hoursToday}} </span>Hrs
  <span id="minutes"> {{minutesToday}} </span>Min
  <span id="seconds"> {{secondsToday}} </span>S
</div>
