<p-virtualScroller [value]="virtualItems" [delay]="1000" scrollHeight="500px" [itemSize]="150" [rows]="10" [lazy]="true"
  [totalRecords]="totalRecords" (onLazyLoad)="loadLazy($event)">
  <ng-template pTemplate="header">
    List of Auction Items ({{totalRecords?totalRecords:0}})
  </ng-template>
  <ng-template let-product pTemplate="item" let-i="index">
    <div class="product-item">
      <div class="image-container">
        <img [src]="'assets/images/demo/product/'+product?.itemImages[0]?.url" [alt]="product?.title"
          class="product-image" />
      </div>
      <div class="product-list-detail">
        <h5 class="p-mb-2"><a style="color: #D32F2F;" routerLink="{{product.id}}/view">{{product?.title}}</a></h5>
        <i class="pi pi-tag product-category-icon"></i>
        <span class="product-category">Product Category</span>
      </div>

      <div class="product-list-action p-mr-3">
        <app-countdown-timer [endDate]="product?.duration"></app-countdown-timer>
      </div>

      <div class="product-list-action p-mr-3" style="height: 105px;">
        <span [class]="'p-mb-2 product-badge started-bid'"  style="height: 65px;">Started Bid <strong
            class="started-bid-amount">${{product?.startingBid}}</strong></span>
      </div>

      <div class="product-list-action p-mr-3">
        <span [class]="'p-mb-2 product-badge highest-bid'">Highest Bid <strong
            class="highest-bid-amount">${{product?.highestBid}}</strong>
          <div class="product-list-action">
            <button *ngIf="isAuthenticated" pButton pRipple type="button" icon="pi pi-money-bill" label="Bid"
              class="p-button-raised p-button-danger" (click)="onBidAddingVisible(product)"></button>
          </div>
        </span>
      </div>


    </div>
    <hr style="opacity: 0.3;">
  </ng-template>
  <ng-template let-product pTemplate="loadingItem">
    <div class="product-item loading-item">
      <div class="image-container"></div>
      <div class="product-list-detail">
        <h5 class="p-mb-2"></h5>
        <i class="product-category-icon"></i>
        <span class="product-category"></span>
      </div>
      <div class="product-list-action">
        <h6 class="p-mb-2"></h6>
        <span class="p-mb-2 product-badge"></span>
        <p-skeleton class="p-skelton-button" width="4rem" height="2rem"></p-skeleton>
      </div>
    </div>
  </ng-template>
</p-virtualScroller>


<p-dialog [modal]="true" [showHeader]="false" [visible]="isBidAddingVisible" [style]="{width: '60vw'}"
  [baseZIndex]="10000" [closable]="false">
  <div class="p-grid">
    <div class="p-col">
      <p-card [header]="selectedBiddingItem?.title" [subheader]="selectedBiddingItem?.description"
        [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img *ngIf="selectedBiddingItem?.itemImages" alt="Card"
            src="assets/images/demo/product/{{(selectedBiddingItem?.itemImages[0]?.url)}}">
        </ng-template>
        <div class="product-item">
          <div class="product-list-action p-mr-3">
            <span [class]="'p-mb-2 product-badge started-bid'">Started Bid <strong
                class="started-bid-amount">${{selectedBiddingItem?.startingBid}}</strong></span>
          </div>
          <div class="product-list-action p-mr-3">
            <span [class]="'p-mb-2 product-badge highest-bid'">Highest Bid <strong
                class="highest-bid-amount">${{selectedBiddingItem?.highestBid}}</strong>
            </span>
          </div>
        </div>

      </p-card>
    </div>
    <div class="p-col">
      <div class="p-grid p-ai-center vertical-container">
        <div class="p-col">
          <div class="p-d-flex p-jc-center p-my-4">
            <label for="currency-us">Bid</label>
            <p-inputNumber [(ngModel)]="itemBid.bidAmount" inputId="currency-us" mode="currency" currency="USD"
              locale="en-US">
            </p-inputNumber>
          </div>
        </div>
        <div class="p-col">
          <div class="p-d-flex p-jc-center p-my-4">
            <button pButton pRipple type="button" icon="pi pi-money-bill" label="Bid Now"
              class="p-button-raised p-button-danger p-mr-2" (click)="onSaveBid()"></button>
            <button pButton pRipple type="button" icon="pi pi-times" label="Later" class="p-button-secondary"
              (click)="isBidAddingVisible=false"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
