.dark-blue-button {
  background-color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;

  &:hover {
    background-color: var(--surface-c) !important;
    border: 1px solid var(--surface-c) !important;
  }
}

.dark-blue-no-fill-button {
  background-color: var(--surface-e) !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;

  &:hover {
    background-color: var(--surface-a) !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem var(--surface-c-light) !important;
  }
}

.red-button {
  background-color: var(--surface-d) !important;
  border: 1px solid var(--surface-d) !important;

  &:hover {
    background-color: var(--surface-d-dark) !important;
    border: 1px solid var(--surface-d-dark) !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem var(--surface-d-light) !important;
  }
}

.red-no-fill-button {
  background-color: var(--surface-e) !important;
  border: 1px solid var(--surface-d) !important;
  color: var(--surface-d) !important;

  &:hover {
    background-color: var(--surface-a) !important;
    border: 1px solid var(--surface-d) !important;
    color: var(--surface-d) !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem var(--surface-d-light) !important;
  }
}

.light-blue-button {
  background-color: var(--surface-c) !important;
  border: 1px solid var(--surface-c) !important;

  &:hover {
    background-color: var(--surface-c-dark) !important;
    border: 1px solid var(--surface-c-dark) !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem var(--surface-c-light) !important;
  }
}

.light-grey-button {
  background-color: var(--surface-g) !important;
  border: 1px solid var(--surface-g) !important;

  &:hover {
    background-color: var(--surface-g-dark) !important;
    border: 1px solid var(--surface-g-dark) !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem var(--surface-g-light) !important;
  }
}

.light-brown-no-fill-button {
  background-color: var(--surface-e) !important;
  border: 1px solid var(--surface-b) !important;
  color: var(--surface-b) !important;

  &:hover {
    background-color: var(--surface-a) !important;
    border: 1px solid var(--surface-b) !important;
    color: var(--surface-b) !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem var(--surface-b-light) !important;
  }
}


// Action icon BLUE
.dark-blue-action-icon-button {
  background-color: transparent !important;
  border: none;
  color: var(--primary-color) !important;

  &:hover {
    color: var(--surface-c) !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}

.p-tooltip.action-tooltip-blue {
  .p-tooltip-text {
    background: var(--surface-c) !important;
  }

  .p-tooltip-arrow {
    border-top-color: var(--surface-c) !important;
  }
}




// Action icon RED
.red-action-icon-button {
  background-color: transparent !important;
  border: none;
  color: var(--surface-d-dark) !important;

  &:hover {
    color: var(--surface-d) !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}


.p-tooltip.action-tooltip-red {
  .p-tooltip-text {
    background: var(--surface-d) !important;
  }

  .p-tooltip-arrow {
    border-top-color: var(--surface-d) !important;
  }
}

// @media only screen and (max-width: 768px) {
//   place-content: space-around;
// }
