@media screen and (max-width: 960px) {
  .layout-wrapper {
    .layout-content {
      padding-top: 40px !important;
    }
  }

  .layout-topbar {
    height: 60px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    .menu-button {
      display: block;
    }

    .logo {
      img {
        width: 150px;
      }
    }

    .user-profile-icon {
      margin-left: 0;
      margin-right: 23px;
    }

    .topbar-menu {
      background-color: var(--surface-a);
      width: 55%;
      height: 40px;
      margin: 0;
      border-top: 1px solid var(--surface-d);

      >li {
        height: 40px;
        line-height: 40px;
        width: 25%;
        text-align: center;

        >a {
          padding-bottom: 0;
          height: 40px;
          line-height: 38px;
          width: 100%;
          font-size: 12px;
          font-weight: 600;
          min-width: auto;
        }

        &.topbar-submenu>ul {
          top: 40px;
        }
      }
    }
  }

  .layout-content {
    margin-left: 0;
    padding-top: 60px;

    .video-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .layout-config {
    .layout-config-button {
      left: auto;
      right: -52px;
    }

    &.layout-config-active {
      width: 100%;
    }
  }

  .blocked-scroll {
    overflow: hidden;
  }
}

@media screen and (max-width: 640px) {
  .layout-wrapper {
    .topbar-menu {
      >li {
        &.topbar-submenu {
          >ul {
            top: 180px;
          }
        }
      }
    }
  }

  .layout-topbar {
    .topbar-menu {
      >li {
        &.topbar-submenu {
          position: static;

          >ul {
            top: 110px;
            position: fixed;
            right: auto;
            left: 0;
            width: 100vw;
          }
        }
      }
    }
  }
}
