.layout-topbar {
  background-color: var(--surface-e);
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 997;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

  .p-menubar{
    height: 70px;
    padding: 0 20px;
  }
}
