::ng-deep .hideButton{
  .p-splitbutton-defaultbutton{
    display: none !important;
  }
.p-button.p-button-icon-only{
  display: none !important;
 }
}
::ng-deep .p-menubar-root-list{
.p-menuitem {
    border-radius: 5px !important;
    border: 2px solid #f25d1c !important;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    .p-menuitem-link{
      span{
        color:#f25d1c !important;
      }
    }
  }
}
