<div class="layout-topbar">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img src="assets/images/bid_logo.svg" height="40" class="p-mr-2">
    </ng-template>
    <ng-template pTemplate="end">
      <div *ngIf="isAuthenticated" class="p-d-flex">
        <div class="p-mr-2 p-as-center">
          <i class="pi pi-bell p-mr-4 p-text-secondary" pBadge style="font-size: 1.5rem" value="2"></i>
          <i class="pi pi-money-bill p-text-secondary" pBadge style="font-size: 1.5rem" [value]="'10+'"
            severity="danger"></i>
        </div>
        <div class="p-mr-2">
          <p-avatar (click)="buttonAv.onDropdownButtonClick($event)" class="p-d-inline"
            image="assets/images/demo/avatar/amyelsner.png" styleClass="p-mr-2" size="xlarge" shape="circle">
          </p-avatar>
          <p-splitButton styleClass="hideButton" #buttonAv label="Save" icon="pi pi-plus" [model]="profileMenuItems">
          </p-splitButton>
        </div>
      </div>
    </ng-template>
  </p-menubar>
</div>
