<div class="card center-div">
  <h2 class="p-mb-6">Edit Items</h2>
  <div class="p-fluid p-formgrid p-grid p-jc-center">
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label p-mb-3">
        <input id="title" type="text" pInputText>
        <label for="title">Title</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label p-mb-3">
        <p-inputNumber inputId="starting-bid" mode="currency" currency="USD" locale="en-US">
        </p-inputNumber>
        <label for="starting-bid">Starting Bid</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label p-mb-3">
        <p-calendar [showTime]="true" inputId="starting-time"></p-calendar>
        <label for="starting-time">Starting Time</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label p-mb-3">
        <p-inputNumber inputId="duration" mode="decimal">
        </p-inputNumber>
        <label for="duration">Duration(hours)</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <span class="p-float-label p-mb-3">
        <textarea id="description" type="text" rows="4" pInputTextarea></textarea>
        <label for="description">Description</label>
      </span>
    </div>
    <div class="p-col-12 p-md-3">
      <app-image-uploader></app-image-uploader>
    </div>
    <div class="p-d-flex p-jc-center p-mt-3">
      <div class="p-mr-4">
        <button pButton pRipple type="button" label="Cancel" icon="pi pi-undo"
          class="dark-blue-no-fill-button"></button>
      </div>
      <div>
        <button pButton pRipple type="button" label="Save" class="dark-blue-button"></button>
      </div>
    </div>
  </div>
</div>
